*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: chocolate;
}

#create-account-form{
    width: 400px;
    padding: 20px;
    text-transform: uppercase;
    background-color: #fff;
}

.title{
    margin-bottom: 20px;
}

.input-group{
    margin: 20px 0;
    position: relative;
}

.input-group label{
    display: inline-block;
    margin-bottom: 5px;
}

.input-group input{
    display: block;
    width: 100%;
    padding: 10px;
}

.success input{
    border: 3px solid green;
}

.success i.fa-circle-check{
    visibility: visible;
    color: green;
}

.error input{
    border: 3px solid red;
}

.error i.fa-circle-exclamation{
    visibility: visible;
    color: red;
}

.error p{
    visibility: visible;
}

.input-group i{
    position: absolute;
    right: 10px;
    top: 35px;
    visibility: hidden;
}

.input-group p{
    font-size: 15px;
    color: red;
    visibility: hidden;
}

.btn{
    width: 100%;
    padding: 10px;
    font-size: 20px;
    background-color: chocolate;
    color: #fff;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}